*{padding: 0;
   margin:0;}


   :root {
    --primary-color: #4C6085;
	--secondary-color: #39A0ED;
	--accent1-color: #36F1CD;
	--accent2-color: #13C4A3 #32322C;

    --heading-font: "Ubuntu";
    --paragraph-font: "Ubuntu"; }



body{
    font-family: Ubuntu;
    font-weight:300px;

}

header{
background-color: #39A0ED;
display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: auto;


} 
     
.nav_links{
    list-style: none;
    margin: 25px;
    display: flex;
    justify-content: space-around; 
}

.nav_links li{
    display:inline-block;
    padding:0px 20px;
    font-weight: 100px;
    text-align: center;
    line-height: 50px;
    width: 120px;
    height:50px;
    background: rgb(253, 250, 250);
    border-radius: 10px;
    margin:10px;

    
}

.nav_links li a{
    border-radius: 10px;
    color:black;
    font-weight: 100px;
    transition:all 0.3s ease 0s;
    text-decoration: none;
    text-align: center;
     line-height: 5px;
     width: 50px;
    height:50px;
    background:rgb(253, 250,250);
}
   

.nav_links li a:hover{
    border-radius: 10px;
    font-weight: 100px;
    color: #39A0ED;
    text-decoration: none;
    text-align: center;
     line-height: 5px;
     width: 50px;
    height:50px;
    background:#0489f0;
}
  
#main{
    
    height:auto;
    background-color:rgb(177, 175, 175);
}

.hero{
    
    height: 500px;
    background-color: #4C6085;
    padding:2px;
    margin:2px;
    position: relative;
    
    
}

.hero img{
    object-fit: cover;
    max-height:500px;
    width:100%;


     
    
    
}

.hero h1{
    position:absolute;
    left:50%;
    top:20%;
    transform:translate(-50%);
    color:aqua;
    text-align: center;}

    article{
        width: 100%;
        height: auto ;
        margin: 5px;
        position:absolute;
        top:30%;
        left:0%;
        display: flex;
        justify-content: center;
        align-items: center;
        
     }
     article p{
        text-align: justify;
        font-size:20px;
        margin:10px;
        
        color: beige;
    
     }

    .img{
        width:50%;
        height:200px;
        margin-right:20px;
        float:right;
        padding-right: 2px;
        border-radius: aqua 4px solid;
    }

 .h1{
 text-align: center;
 color:aqua;
 text-decoration: underline;
 padding:3px;
 font-size: 35px;
 border: solid 1px white;
}    

 .grid-container{
    display:flex;
    justify-content:center;
    border: solid 2px white;

 }

 .grid-items{
    width:25%;
    height:auto;
    
    padding: 0px;
    margin:10px 30px 10px 30px;
    display:inline-block;
    justify-content: center;}


    .grid-items p{
        text-align:justify;
        margin: 5px;}
        
     
    figure{
        background-color: aqua;
        padding:15px;
        border:solid 1px white;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0 0 0 0.1);
        margin:25px;
        display:inline-block;
        vertical-align:bottom;
        justify-content:center;
    }
    figure img{
        width:180px;
        height:auto;}

    figcaption{
        font-size:16px;
        font-style: italic;
        margin-top:10px;
        text-align: center;
    }

    footer{
        height:100px;
        padding: 0ch;
        background-color: #39A0ED;}
    footer p{
      text-align:justify;
      margin: 0 auto;      
      padding:15px;
      font-size: 20px;
      color: azure;
    }

    .social-icons {
        list-style-type: none;
        padding: 10px;
        display: flex;
        justify-content: right;
        gap: 15px;
    }
      
      .social-icons li a {
        color: white;
        font-size: 30px;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      
      .social-icons li a:hover {
        color: #1e90ff;
      }
      
        /* CONTACT US START HERE*/

        .team{
            position: relative;
            width:90%;
            height:auto;
            background:#4C6085;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding:5%;
            margin:3px;
       }
       
       .team-content{
            width:100%;
            max-width: 1250px;
            margin:0 auto;
            display:grid;
            grid-template-columns: repeat(auto-fit,minmax(150px,auto));
            align-items: center;
            gap:2rem;
            text-align: center;
            margin-top: 4rem;
       }
       
       .team-content img{
            width:100%;
            height: auto;
            border-radius: 15px;
            margin-bottom: 10px;
       }
       
       .center h3{
        color: #0489f0;
        text-align:center;
        text-decoration: underline;
    
    }
   
   
   .box{
        padding: 16px;
        background: #535252;
        border-radius: 15px;
        transition: all .38s ease;}
   
   .box h4{
        font-size: 23px;
        font-weight: 600;
        color:aliceblue;
        margin-bottom: 8px;}
   
   
   .box h5{
        font-size:15px;
        font-weight:600;
        color:aliceblue;
        margin-bottom:15px;
        letter-spacing:2px;
   }
   
   .icons i{
        display:inline-block;
        color:aliceblue;
        font-size:20px;
        margin:0 8px;
        transition: all .38s ease;}
   
   .box:hover{
        transform:translateY(-10px);
        cursor:pointer;
   }
   
   
   
   .center2{
        width:85%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin:75px auto;
        text-align: center;
   
   }
   
   
   .card2{
        width:100%;
        display:flex;
        justify-content:space-between ;
        align-items: center;
        flex-direction: column;
        margin:0px 20px;
        padding: 20px 20px;
        border-radius: 10px;
        cursor:pointer;
        background: aliceblue;
   }
   
   .card2 h4{
        font-size: 20px;
        color: #666;
        margin-bottom: 20px;
   
   }
   
   card2 p{
        font-size:28px;
        margin-bottom:30px;
        line-height:1.5;
        color:#242323;
   }
   
    .card2  .icons2 {
        font-size:28px;
        margin-bottom: 10px;}

     #contact{display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: auto auto;
            background-color:#4C6085;
        }

    
    form:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      section:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      
      section:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
    form {
        padding: 1rem;
        padding-right: 4rem;
        margin-block: 1rem;
        line-height: 0.5cm;
        align-items:center;
    }
    fieldset {
        position: relative;
      }
    .form-item {
        margin-bottom: 1rem;
    }  
    #newsletter {
        text-align: center;
    }
    button {
        font-size: 20px;
        font-weight: bold;
        background-color:rgb(46, 122, 193);
        color:#f7f3f3;
    }  
    .form-item1 {
        margin-bottom: 1rem;
        text-align: center;
        padding-inline: 1rem;
        padding-top: 1rem;
    }
    
    .form-item1 fieldset {
    
        text-align: left;
    }
    
    .address {
        margin-top: 1rem;
    }
    

    .ride h2 {
        text-align: left;
        font-size: 2.5rem;
        color: #1e90ff;
        margin: 3px;
            }


    .ride article {
        font-size: 1.8rem;
        text-align: left;
        
        
    
    }
    
    .ride article>img {
        float: right;
        margin: 2rem;
        height: 450px;
        margin-right: auto;
        margin-top: auto;
    }
    .deals h2 {
        font-size: 2rem;
        grid-column: 1 / 4;
        justify-items: center;
        padding: 1em 0; 
    }
    .deals {
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.35em;
        justify-items: center;
        background: #4C6085;
    }
    .deals p {
        padding-right: 30px;
        padding-left: 30px;
    }
    .deals img {
        width: 100%;
        height: auto;}
        
        @keyframes moveHorizontal {
            0% {
                transform: translateX(-100%); /* Start off-screen to the left */
            }
            100% {
                transform: translateX(100%); /* Move to the right, off-screen */
            }
        }
        
        .move {
            font-size: 2em;
            white-space: nowrap;
            position: absolute;
            animation: moveHorizontal 5s linear infinite;
        }
        
        
        #offers{
            border-spacing: 40px 30px;
            background-color:#4C6085 ;
            width: 100%;
            }
            
            #offers td{
                width: 350px;
                text-align: center;}
            
                h3 {
                    text-align: center;
                    font-size: 2rem;}