*{padding: 0;
   margin:0;
}
body{
    font-family: Ubuntu;
    font-weight:150px;

}
#header{
    height:100px;
    background-color: #4C6085;

}

header img{
    width: 100px;
    height: fit-content;
}

#nav{
    float: right;
    margin:5px;
    justify-content: end;
    height: fit-content;

}

.float{
    list-style: none;
    height: 50px;
    width: 80px;
    text-decoration: none;
    display:inline-block;
    text-align:center;
    margin:10px;
    padding: 2px;
   line-height: 50px;
}

#main{
    height: auto;
    width: 100%;
    background-color:#39A0ED ;
}

.hero{
    margin: 5px;
    padding:5px ;
    position: relative;
}
.hero img{
    object-fit: cover;
    width:100%;
    height: 420px;
}

.overlay{
    position:absolute;
    left: 50%;
    top:50%;
    justify-content: center;
	background: radial-gradient(#afc2ec, #065f7a);
	
	padding: 0.65rem;
	box-shadow: 0 0 30px #13b7d4;
	opacity: 0.8;
    transform: translate(-50%,-50%);
    text-align: center;
    color:WHITE;
}


article{

        width:100%;
        margin:1px;
        padding:1px;
        border: 1px solid rgb(0 0 0 / .1);
    }

    h1{
        text-align:center;
        text-decoration: underline;
        color:white;}

    p{
        text-align: justify;
        color: white;
        margin:5px;
    }

.con img{
    float: right;
	margin: 0 0 15px 15px;
	border: 1px solid rgba(0 0 0 / .3);
	box-shadow: 0 0 30px #777;
    padding: 5px;
    width: 180px;
}
    

.container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:40px;
    margin: 5px;
    padding: 5px;
    border:5px solid white;

}

.container img{
    margin:15px;

}

#footer{
    height:100px;
    background-color: #4C6085;
}