*{padding: 0;
   margin:0;}


   :root {
    --primary-color: #4C6085;
	--secondary-color: #39A0ED;
	--accent1-color:#36F1CD ;
	--accent2-color: #13C4A3  #32322C;

    --heading-font: "Metal Mania";
    --paragraph-font: "Garamond"; 
}

body {
font-family: var(--paragraph-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

header{
      background-color:#36F1CD;
      display: grid;
      grid-template-columns: 150px auto;
      align-items: center;
}

.logo{
    width:100px;
    height:auto;
    margin:0 0.25rem 0 1rem;
    margin-right: auto;
    cursor: pointer;
}

.nav{
     list-style: none;
    margin: 25px;
    display: flex;
    justify-content: space-around; 
}

.nav li{ display:inline-block;
    padding:0px 20px;
    
    text-align: center;
    line-height: 50px;
    width: 120px;
    height:50px;
    background: rgb(253, 250, 250);
    border-radius: 10px;
    margin:10px;} 


.nav li a{
     border-radius: 10px;
    color:black;
    transition:all 0.3s ease 0s;
    text-decoration: none;
    text-align: center;
     line-height: 5px;
     width: 50px;
    height:50px;
    background:rgb(253, 250,250);
}

.nav li a:hover{
     border-radius: 10px;
    color: #39A0ED;
    text-decoration: none;
    text-align: center;
     line-height: 5px;
     width: 50px;
    height:50px;
    background:#4C6085;
}

main{
    height:auto;
    background-color:#39A0ED;
}

.hero{
     height: 500px;
    background-color: #4C6085;
    padding:5px;
    margin:5px;
    position: relative;
}

.hero img{
    object-fit: cover;
    max-height:500px;
    width:100%;
}

.hero h1{

    color:#36F1CD;
    position:absolute;
    top:20px;
    padding:16px;
    width:99%;

    opacity:0.7;
    font-size:50px;
    margin:3px;
    white-space:nowrap;
    animation: moveHorizontal 5s linear infinite;
}

 @keyframes moveHorizontal {
            0% {
                transform: translateX(-100%); /* Start off-screen to the left */
            }
            100% {
                transform: translateX(100%); /* Move to the right, off-screen */
            }
        }
article{
    background-color: #39A0ED;
    height:auto;
    position:absolute;
    width:99%;
     margin: 5px;
    top:30%;
    left:0%;
    display: flex;
    justify-content: center;
    align-items: center;
        }    

 .hero article p{
        text-align: justify;
        font-size:20px;
        margin:10px;
        
        color:white;
    
     }        

  .hero article img{
    float:right;
    width:200px;
}


.section{
    height:auto;
    background-color: #4C6085;
}

.section h2{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}
  
.section p{
    margin: 8px;
    color:white;
    font-size:20px;
}

.grid-container{
    display:flex;
    justify-content:center;
    border: solid 2px white;}

.grid-items{
    width:25%;
    height:auto;
    
    padding: 0px;
    margin:10px 30px 10px 30px;
    display:inline-block;
    justify-content: center;}


    .grid-items p{
        text-align:justify;
        margin: 5px;}
        
    .grid-image{
        border:5px solid #36F1CD;
        border-radius:10px;
    }

     figure{
        background-color:#39A0ED;
        padding:15px;
        border:solid 1px white;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0 0 0 0.1);
        margin:25px;
        display:inline-block;
        vertical-align:bottom;
        justify-content:center;
    }
    figure img{
        width: 230px;;
        height:auto;}

    figcaption{
        font-size:20px;
        font-style: italic;
        margin-top:10px;
        text-align: center;
    }

footer {
    background-color: #36F1CD;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin-bottom: 15px;
    font-size: 25px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-icons a {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
    opacity: 0.8;
    background-color: #39A0ED;
    border-radius: 70%;
}

.social-icons img {
    width: 30px;
    height: 30px;
    filter: brightness(0) ; /* Makes icons white */
}

/* CONTACT US START HERE*/

        .team{
            position:relative;
            width:90%;
            height:auto;
            background: #39A0ED;;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding:5%;
            margin:3px;
       }
       
       .team-content{
            width:100%;
            max-width: 1250px;
            margin:0 auto;
            display:grid;
            grid-template-columns: repeat(auto-fit,minmax(150px,auto));
            align-items: center;
            gap:2rem;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
       }
       
       .team-content img{
            width:100%;
            height: auto;
            border-radius: 15px;
            margin-bottom: 10px;
       }
       
       .center h3{
        color: #0489f0;
        text-align:center;
        text-decoration: underline;
    
    }
   
   
   .box{
        padding: 16px;
        background: #535252;
        border-radius: 15px;
        transition: all .38s ease;}
   
   .box h4{
        font-size: 23px;
        font-weight: 600;
        color:aliceblue;
        margin-bottom: 8px;}
   
   
   .box h5{
        font-size:15px;
        font-weight:600;
        color:aliceblue;
        margin-bottom:15px;
        letter-spacing:2px;
   }
   
   .icons i{
        display:inline-block;
        color:aliceblue;
        font-size:20px;
        margin:0 8px;
        transition: all .38s ease;}
   
   .box:hover{
        transform:translateY(-10px);
        cursor:pointer;
   }
   
   
   
   .center2{
        width:85%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin:75px auto;
        text-align: center;
   
   }
   
   
   .card2{
        width:100%;
        display:flex;
        justify-content:space-between ;
        align-items: center;
        flex-direction: column;
        margin:0px 20px;
        padding: 20px 20px;
        border-radius: 10px;
        cursor:pointer;
        background: aliceblue;
   }
   
   .card2 h4{
        font-size: 20px;
        color: #666;
        margin-bottom: 20px;
   
   }
   
   card2 p{
        font-size:28px;
        margin-bottom:30px;
        line-height:1.5;
        color:#242323;
   }
   
    .card2  .icons2 {
        font-size:28px;
        margin-bottom: 10px;}

     #contact{display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: auto auto;
            background-color: #39A0ED;;
        }

    
  
   
    
    form:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      section:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      
      section:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
    form {
        padding: 1rem;
        padding-right: 4rem;
        margin-block: 1rem;
        line-height: 0.5cm;
        align-items:center;
    }
    fieldset {
        position: relative;
      }
    .form-item {
        margin-bottom: 1rem;
    }  
    #newsletter {
        text-align: center;
    }
    button {
        font-size: 20px;
        font-weight: bold;
        background-color:rgb(46, 122, 193);
        color:#f7f3f3;
    }  
    .form-item1 {
        margin-bottom: 1rem;
        text-align: center;
        padding-inline: 1rem;
        padding-top: 1rem;
    }
    
    .form-item1 fieldset {
    
        text-align: left;
    }
    
    .address {
        margin-top: 1rem;
    }
    

    .ride h2 {
        text-align: left;
        font-size: 2.5rem;
        color: #1e90ff;
        margin: 3px;
            }


    .ride article {
        font-size: 1.8rem;
        text-align: left;
        
        
    
    }
    
    .ride article>img {
        float: right;
        margin: 2rem;
        height: 450px;
        margin-right: auto;
        margin-top: auto;
    }
    .deals h2 {
        font-size: 2rem;
        grid-column: 1 / 4;
        justify-items: center;
        padding: 1em 0; 
    }
    .deals {
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.35em;
        justify-items: center;
        background: #4C6085;
    }
    .deals p {
        padding-right: 30px;
        padding-left: 30px;
    }
    .deals img {
        width: 100%;
        height: auto;}
     