*{padding: 0;
   margin:0;
}
body{
    font-family: Ubuntu;
    font-weight:300px;

}

header{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #39A0ED;
    padding:15px 5%;
    margin: 2px;
}
.logo{
    cursor: pointer;
    margin-right: auto;


} 
     
.nav_links{
    list-style: none;
}

.nav_links li{
    display:inline-block;
    padding:0px 20px;
    font-weight: 100px;
    text-align: center;
    line-height: 50px;
    width: 120px;
    height:50px;
    background: rgb(253, 250, 250);
    border-radius: 10px;

    
}

.nav_links li a{
    border-radius: 10px;
    color:black;
    font-weight: 100px;
    transition:all 0.3s ease 0s;
    text-decoration: none;
    text-align: center;
     line-height: 5px;
     width: 50px;
    height:50px;
    background:rgb(253, 250,250);
}
   

.nav_links li a:hover{
    border-radius: 10px;
    font-weight: 100px;
    color: #39A0ED;
    text-decoration: none;
    text-align: center;
     line-height: 5px;
     width: 50px;
    height:50px;
    background:#0489f0;
}
  
#main{
    
    height:auto;
    background-color:rgb(177, 175, 175);
}

.hero{
    
    height: 500px;
    background-color: #4C6085;
    padding:2px;
    margin:2px;
    position: relative;
    
    
}

.hero img{
    object-fit: cover;
    max-height:500px;
    width:100%;


     
    
    
}

.hero h1{
    position:absolute;
    left:50%;
    top:20%;
    transform:translate(-50%);
    color:aqua;
    text-align: center;}

    article{
        width: 100%;
        height: auto ;
        margin: 5px;
        position:absolute;
        top:30%;
        left:0%;
        display: flex;
        justify-content: center;
        align-items: center;
        
     }
     article p{
        text-align: justify;
        font-size:20px;
        margin:10px;
        
        color: beige;
    
     }

    .img{
        width: 200px;
        height:200px;
        margin-right:20px;
        float:right;
        padding-right: 2px;
        border: aqua 4px solid;
    }

 .h1{
 text-align: center;
 color:aqua;
 text-decoration: underline;
 padding:3px;
 font-size: 35px;
 border: solid 1px white;
}    

 .grid-container{
    display:flex;
    justify-content:center;
    border: solid 2px white;

 }

 .grid-items{
    width:25%;
    height:auto;
    
    padding: 0px;
    margin:10px 30px 10px 30px;
    display:inline-block;
    justify-content: center;}


    .grid-items p{
        text-align:justify;
        margin: 5px;}
        
     
    figure{
        background-color: aqua;
        padding:20px;
        border:solid 1px white;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0 0 0 0.1);
        margin:10px 43px 10px 43px;
        display:inline-block;
        vertical-align: top;
        justify-content: center;
    }
    figure img{
        width:100%;
        height:auto;}

    figcaption{
        font-size:16px;
        font-style: italic;
        margin-top:10px;
        text-align: center;
    }

    footer{
        background-color:  #39A0ED;
        height:120px;
        width:100%;
    }
    footer p{
      text-align:ju;
      margin: 0 auto;      
      padding:15px;
      font-size: 20px;
      color: azure;
    }

    .social-icons {
        list-style-type: none;
        padding: 10px;
        display: flex;
        justify-content: right;
        gap: 15px;
    }
      
      .social-icons li a {
        color: white;
        font-size: 30px;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      
      .social-icons li a:hover {
        color: #1e90ff;
      }
      