*{margin:0;
    padding: 0;}

   

    main{
        width: 100vh;
        height: auto;
        background-color:rgb(92, 91, 91) ;
        padding:5px;
        margin:5px;
        border:2px solid black;
    
    }

    main img{
     width:200px;
     height: auto;
     border:1px solid #808080;
     margin:5px;
    
    }

     h1{
        margin:5px;
        color:white
     }
header{
    width:auto;
    height: 100px;
    background-color:rgb(32, 32, 31);
    padding: 5px;
    margin: 5px;
}

nav a{
    display:block;
    padding:10px;
    color:white;

}

p{
    padding:0;
    color:white;
}

aside{
    width:100vh;
    margin:5px;
    height: auto;
    border:2px solid rgb(14, 13, 13);
    padding:5px;
    background-color:rgb(92, 91, 91) ;
}

aside img{
    width:200px;
    border:1px solid black;
    height:auto;
    padding:5px;
}

footer{
    margin-top:5px;
    border-top:1px solid black;
    text-align: center;
    background-color:rgb(32, 32, 31)
}